<!DOCTYPE html>
<html>
<head>
  <title>WheresJohnny</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- mobile nav bar -->
  <div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
    <div class="title-bar-left">
      <div class="title-bar-title"><Link to='Home'><img class="wheres-johnny-logo" src="/images/logo-yellow.png"/></Link></div>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
    </div>
  </div>
  <!-- /mobile nav bar -->

  <!-- medium and larger nav bar -->
  <div class="top-bar topbar-center-logo" id="topbar-center-logo">
    <div class="top-bar-left hide-for-small-only">
      <%= link_to(image_tag("/images/logo-yellow.png", class: "wheres-johnny-logo"), "/") %>
    </div>
    <div class="top-bar-center">
      <li class="tagline">Find a john near you</li>
    </div>
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
        <%- if current_user -%>
          <%- if current_user.profile_photo.url -%>
            <li><%= image_tag current_user.profile_photo.url, class: "profile_photo hide-for-small-only" %></li>
          <%- end -%>
          <li>
            <%= link_to current_user.user_name, user_path(current_user) %>
            <ul class="vertical menu">
              <li><%= link_to 'Profile', user_path(current_user) %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <%- else -%>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: 'sign-up-btn' %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  <!-- /medium and larger nav bar -->

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>

</body>
</html>
